body{
    background-color: lightgreen;
}
img{
    display: none;
}
h1{
    text-align: center;
}

#device1, #device2, #device3, #device4, #device5{
    display: none;
}



@media screen and (max-width:572px){
    #phone, body{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: aqua;
    }
    .device{
        display: none;
    }
    #device1{
        display: block;
    }
}

@media screen and (max-width:768px) and (min-width:573px) {
    #tablet, body{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: red;
    }
    .device{
        display: none;
    }
    #device2{
        display: block;
    }

}

@media screen and (max-width:992px) and (min-width:769px) {
    #laptop, body{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color:green;
    }
    .device{
        display: none;
    }
    #device3{
        display: block;
    }

}

@media screen and (max-width:1200px) and (min-width:993px) {
    #desktop, body{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color:yellow;
    }
    .device{
        display: none;
    }
    #device4{
        display: block;
    }

}

@media screen and (max-width:1300px) and (min-width:1201px)  {
    #big, body{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: blueviolet;
    }
    .device{
        display: none;
    }
    #device5{
        display: block;
    }
 
}

p{
    display:none;
}
@media print{
    p{
        display: block;
    }
}